.home {
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1497250681960-ef046c08a56e");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
